<div class="card-panel">
  <h4 class="header2">Abra sua conta!</h4>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Seu Nome" id="name2" type="text">
          <label for="first_name" class="active">Nome Completo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Informe o CPF" id="cpf2" type="text">
          <label for="cpf" class="active">CPF</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="example@example.com" id="email2" type="email">
          <label for="email" class="active">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Informe sua senha" id="password2" type="password">
          <label for="password" class="active">Senha</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea placeholder="Deixe uma mensagem para nós..." id="message2" class="materialize-textarea"></textarea>
          <label for="message" class="active">Mensagem</label>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">CADASTRAR
              <i class="mdi-content-send right"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
