<div class="row">
  <div class="col s12 m6">
    <div class="card black darken-1">
      <div class="card-content white-text">
        <span class="card-title">Desenvolvido por :</span><br>
        <p>Lucas Gonçalves, desenvolvedor de sistemas e aplicações Web</p><br>
        <p>Estudante na Instituição Senai
          de Jaraguá do Sul / SC
        </p><br>
        <p>
          21 anos
        </p><br>
        <p>
          Formado em Técnico de Informática
        </p><br>
        <p>Cursando Sistemas para Internet</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/lucasssg" target="_blank">GitHub</a>
        <a href="https://www.facebook.com/profile.php?id=100003780731699" target="_blank">Facebook</a>
      </div>
    </div>
  </div>
</div>
<ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Tecnologia</span>
      <p>Angular</p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Tecnologia</span>
      <p>JavaScript</p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Tecnologia</span>
      <p>CSS
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Tecnologia</span>
      <p>Materialize
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
